<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    
    <title>{% block title %}  {% endblock %}</title>
    <link rel="icon" href="{% static 'assets/img/bg-img/icon-neuronal.png' %}">

    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/style.css' %}">   
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="medilife-load"></div>
    </div>

    <header class="header-area">        
            <!-- Main Header Area -->
            <div class="main-header-area" id="stickyHeader">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 h-100">
                            <div class="main-menu h-100">
                                <nav class="navbar h-100 navbar-expand-lg">
                                    <!-- Logo Area  -->
                                    <h4 style="color: aliceblue">IA - Tesis</h4>
    
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medilifeMenu" aria-controls="medilifeMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    
                                    <div class="collapse navbar-collapse" id="medilifeMenu">
                                        <!-- Menu Area -->
                                        <ul class="navbar-nav ml-auto">
                                            <li class="nav-item active">
                                                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                            </li>                                            
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Enfermedades de la Piel</a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    <a class="dropdown-item" href="/Deteccion">Detección</a>
                                                    <a class="dropdown-item" href="/Enfermedades">Información</a>                                                    
                                                </div>
                                            </li>                                                                                                                              
                                        </ul>                                    
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>        

        {% block content %}
        {% endblock%}
    
     <!-- ***** Footer Area Start ***** -->
     <footer class="footer-area section-padding-100">            
            <!-- Bottom Footer Area -->
            <div class="bottom-footer-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="bottom-footer-content">
                                <!-- Copywrite Text -->
                                <div class="copywrite-text">
                                    <p class="text-white">
                                        Proyecto de Graduación &copy;<script>document.write(new Date().getFullYear());</script> Por Eduardo Barrios | Ingeniería en Sistemas UMG.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ***** Footer Area End ***** -->

    <!-- Scripts -->
    <script src="{% static 'assets/js/jquery/jquery-2.2.4.min.js' %}"></script>    
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/active.js' %}"></script>
    {% block javascript %}
    {% endblock %}

</body>
</html>
