{% extends 'base/layout.html' %}

{% block title %}
    IA - Detección
{% endblock %}

{% block content %}
{% load static %}
<section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url({% static 'assets/img/bg-img/breadcumb2.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h3 class="breadcumb-title">Enfermedades</h3>
                    <p>Información sobre Enfermedades en la Piel más comunes</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="medilife-services-area section-padding-100-20">
        <div class="container">
            <div class="row">
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex">
                        <div class="service-icon">
                            <i class="icon-doctor"></i>
                        </div>
                        <div class="service-content">
                            <h5>Dermatitis Atópica</h5>
                            <p>
                               La Dermatitis Atópica (DA), es una enfermedad que causa comezón e inflamación de la piel. Tipicamente afecta las partes internas de los codos, atrás de las rodillas y la cara, pero también puede cubrir la mayor parte del cuerpo. DA es una categoría de enfermedades llamadas “atópicas” porque muchas veces afecta a personas que también sufren de asma y/o fiebre del heno o alergia.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex">
                        <div class="service-icon">
                            <i class="icon-blood-donation-1"></i>
                        </div>
                        <div class="service-content">
                            <h5>Melanoma</h5>
                            <p>
                                El melanoma es el tipo más serio de cáncer de piel. Con frecuencia el primer signo de un melanoma es un cambio de tamaño, forma, color o textura de un lunar. La mayoría de los melanomas tienen un área negra o negra azulada. El melanoma también puede aparecer como un lunar nuevo. Puede ser negro, anormal o "de aspecto desagradable."
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex">
                        <div class="service-icon">
                            <i class="icon-blood-donation-2"></i>
                        </div>
                        <div class="service-content">
                            <h5>Seborrheic Keratosis</h5>
                            <p>
                                    La queratosis seborreica es una de las neoplasias de la piel no cancerosas más comunes en los adultos de edad avanzada. Aunque es posible que aparezcan en forma individual, generalmente aparecen en grupos.
                                    La queratosis seborreica suele aparecer en el rostro, el pecho, los hombros o la espalda. Tiene una apariencia cerosa, escamosa y levemente levantada.
                                    No requiere tratamiento. Si la queratosis seborreica causa irritación, el médico puede extirparla.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Single Service Area 
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex">
                        <div class="service-icon">
                            <i class="icon-flask"></i>
                        </div>
                        <div class="service-content">
                            <h5>Laboratory</h5>
                            <p>Dolor sit amet, consecte tuer elit, sed diam nonummy nibh euismod tincidunt ut ldolore magna.</p>
                        </div>
                    </div>
                </div>-->
                <!-- Single Service Area 
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex">
                        <div class="service-icon">
                            <i class="icon-emergency-call-1"></i>
                        </div>
                        <div class="service-content">
                            <h5>Emergency Room</h5>
                            <p>Dolor sit amet, consecte tuer elit, sed diam nonummy nibh euismod tincidunt ut ldolore magna.</p>
                        </div>
                    </div>
                </div>-->
                <!-- Single Service Area
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex">
                        <div class="service-icon">
                            <i class="icon-blood-donation-2"></i>
                        </div>
                        <div class="service-content">
                            <h5>Cardiology</h5>
                            <p>Dolor sit amet, consecte tuer elit, sed diam nonummy nibh euismod tincidunt ut ldolore magna.</p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
{% endblock %}