{% extends 'base/base.html' %}

{% block title %}
    IA - Django
{% endblock %}

{% block header %}
    <h2 class="text-center" style="margin-top: 25px;">Django Docker Tensorflow</h2>
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Eduardo</td>
                <td>Barrios</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block footer %}
    <footer>
        2018 Umg Ingeniería
    </footer>
{% endblock %}